<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create New Task</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <!-- <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- <div class="panel-heading">
                Basic Form Elements
            </div> -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                                <div class="form-group">
                                <label for="Sprint">Project</label>
								<select id="Select" class="form-control">
                                    									    <option placeholder="select" > </option>
                                        <option>Project 1</option>
										<option>Project2</option>
										<option>Project 3</option>
                                    </select>
                            
                            </div>
                                 <div class="form-group">
                                <label for="Sprint">Sprint Item</label>
								<select id="Select" class="form-control">
                                    									    <option placeholder="select" > </option>
                                        <option>Sprint item 1</option>
										<option>Sprint item 2</option>
										<option>Sprint item 3</option>
                                    </select>
                            
                            </div>
                            <div class="form-group">
                                <label> Task Name </label>
                                <input class="form-control" placeholder="Enter the name of the task">
                            </div>
							<div class="form-group">
							<label for="Task Status">Task Status</label>
                                    <select id="Select" class="form-control">
                                        <option>Not Started</option>
										<option>In Progress</option>
										<option>Completed</option>
                                    </select>
									</div>
									<div class="form-group">
									<label> Assigned to </label>
                                    <select id="Select" class="form-control">
									<option placeholder="select" > </option>
                                        <option>Ashwin</option>
										<option>Prashanth</option>
										<option>Preethi</option>
										<option>Rohit</option>
										<option>Srinivasan</option>
                                    </select>
									</div>
                            
                            <!--<div class="form-group">
                                <label>File input</label>
                                <input type="file">
                            </div>-->
                            <!-- <div class="form-group">
                                <label>Deadline</label>
                                							
                            <div class="dropdown">
     <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
    <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  </ul>
</div> -->
                       
                            
                            
                            
                           
                            <div class="form-group">
                           			
                            <button type="submit" class="btn btn-default">Submit </button>
                            </div>
							
                        
                                            </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
